#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin button-flex-container() {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.button-container {
  @include button-flex-container();
}

@media screen and (min-width: 768px) {
  .large-button-container {
    @include button-flex-container();
    flex-direction: column;
    justify-content: unset;
  }
}
