@use 'variables';

button {
  width: max-content;
  background-color: variables.$colored-bg;
  color: variables.$light-bg;
  padding: 8px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
}

button:hover {
  background-color: variables.$hover-bg;
  transform: scale(1.1);
}

.create-resume-button,
.add-education-button {
  margin: 0 auto;
}
