@use 'variables';

.resume-container {
  background-color: variables.$light-bg;
  line-height: 1.5;
  margin-bottom: 16px;

  .resume-personal-details {
    background-color: variables.$colored-bg;
    height: min-content;
    text-align: center;
    color: variables.$light-bg;
    margin-bottom: 0;

    h3 {
      font-size: 2rem;
    }
  }

  .resume-career-summary,
  .resume-personal-details,
  .resume-experience,
  .resume-educations {
    padding: 8px;
  }

  h4,
  hr {
    margin-bottom: 8px;
  }
}

.company-name,
.school-name {
  display: flex;
  justify-content: space-between;
}
