@use 'variables';

.personal-details-wrapper,
.educations-wrapper,
.experience-wrapper {
  background-color: variables.$light-bg;
  padding: 24px 16px;
  box-shadow: 1px 1px 2px variables.$dark-color;
  margin-bottom: 16px;
  border-radius: 5px;
  border: none;

  .personal-details-header,
  .educations-header,
  .experience-header {
    display: flex;
    justify-content: space-between;
  }

  .personal-details-title,
  .educations-title,
  .experience-title {
    display: flex;
    gap: 10px;
  }

  .personal-details-icon,
  .educations-icon,
  .experience-icon,
  .hide-details,
  .show-details,
  .show-educations,
  .hide-educations,
  .reveal-icon {
    width: 20px;
  }

  .hide-details,
  .show-details,
  .show-educations,
  .hide-educations {
    cursor: pointer;
  }
}

fieldset {
  background-color: variables.$light-bg;
  border: none;

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
  }

  input,
  textarea {
    background-color: variables.$main-bg;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
  }

  input:focus {
    outline-color: variables.$colored-bg;
  }
}
